<% content_for :title do %>Mio Line - Actress<% end %>
<% content_for :description do %>Mio Line Actress<% end %>

<style>
.backgroundmainpage{
  background: url(hollywood-sign-mio.jpg) center center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    #height: calc(100vh - 50px);
    height: 100vh;
    text-align: center;
}
.backgroundmainpage p{
  font-family: 'Courier Prime', monospace; font-size: 20px;
}
h1{
  font-size: 80px;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
}
.socialmiddle {padding: 0px 15px;}
.smedia {color:#333; font-size:40px;}
.smedia:hover {color:#fff;}
h2{
  font-size: 40px;
  margin: 30px 30px 0px 30px;
}
img{
  border-radius: 40px;
  padding: 20px;
}
.biosection p {font-family: 'Courier Prime', monospace; font-size: 18px;}
.biosection{padding: 0px 30px;}
#about{
  margin-bottom: 50px;
}
</style>


<div class="top-wrapper">
 <div class="backgroundmainpage">
   <h1>Orba Artist</h1>
   <p>Artist</p>

   <p><a href="https://www.instagram.com/mio.line"><i class="smedia fab fa-instagram"></i></a>
       <a href="https://twitter.com/miolinela"><i class="smedia socialmiddle fab fa-twitter-square"></i></a>
       <a href="https://youtube.com/channel/UCxbisGb0lcAzI8chlWDn0Lw"><i class="smedia fab fa-youtube-square"></i></a></p>
 </div>
</div>
<div id="about">
<h2>Profile</h2>
<div class="col-sm-6">
<img src="mio-headshot.jpg">
</div>
<div class="col-sm-6 biosection">
<h3>Mio Line</h3>
<p>Nationality: Japanese</p>
<p>DOB: 21/01/1992</p>
<p>Height: 5'6"</p>
<p>Languages: English, Japanese</p>
<br>
<p>Hi, my name is Mio. I was born in Kanagawa, Japan. I am currently studying to be an actress at UCLA in Los Angeles. Open to acting roles and new oppotunities especially in musical, action or comedy productions.</p>
</div>
</div>
