<% content_for :title do %>Social Media<% end %>
<h1>Social Media</h1>
<p><a target="_blank" href="https://www.instagram.com/mio.line">Instagram</a><p>
<p><a target="_blank" href="https://twitter.com/miolinela">Twitter</a><p>
<p><a target="_blank" href="https://youtube.com/channel/UCxbisGb0lcAzI8chlWDn0Lw">YouTube</a><p>